
<div class="container " id="settings">
  <div class="row">
 
    <div class="col-sm-12">
      <h3>Changer le mot de passe</h3>
    </div>
    <div class="col-sm-12">
   
      <form class="form col-md-3" name="form" ng-submit="changePassword(form)" novalidate >

        <div class="form-group">
          <label>Mot de passe actuel</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Nouveau mot de passe</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Le mot de passe doit avoir au moins 3 charactères
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">changer</button>

      </form>
      <div class="col-md-4">
      <h3>Personnel</h3>
       <p> <label>Nom:</label> {{user.name}}</p>
       <p> <label>Prénom:</label> {{user.prenom}}</p>
       <p> <label>Date de naissance:</label> {{user.naissance}}</p>
       <p> <label>Email:</label> {{user.email}}</p>
        <p><label>Fixe: </label> {{user.adresse.telFixe}}</p>
        <p><label>Portable: </label> {{user.adresse.telPortable}}</p>

        <h3>Adresse</h3>
        <p><label>Rue: </label> {{user.adresse.rue}}</p>
        <p><label>Ville: </label> {{user.adresse.ville}}</p>
        <p><label>NPA: </label> {{user.adresse.npa}}</p>
   


      </div>

      <div class="col-md-4">
        <h3>Permis</h3>
        <p><label>AG: </label>{{user.ag == true ? " Oui":" Non"}}</p>
        <p><label>Permis de conduire: </label>{{user.permis == true ? " Oui":" Non"}}</p>
        <p><label>Mobility: </label>{{user.mobility == true ? " Oui":" Non"}}</p>

        <h3>Vélocité</h3>
        <p><label>Coursier depuis: </label>{{user.createdOn}}</p>
        <p><label>Actif: </label>{{}}</p>
      </div>

    </div>
  </div>
</div>
