.thing-form {
  margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;

    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    margin-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
#togglePlanning{
    padding: 6px;
    position: absolute;
    left: 84%;
    margin-top: 1%;
}


.mainHeader{
    
}

#planning {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
  width: 100%;
  margin-top: 1%;
}
td,th {
    text-align: center;
}

#planning tr th,
#planning tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
#planning tr th:first-child,
#planning tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
}

/* top-left border-radius */
#planning tr:first-child th:first-child {
  border-top-left-radius: 10px;
  border-left: 10px;
}

/* top-right border-radius */
#planning tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-right: 2px;

}
/* bottom-left border-radius */
#planning tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
#planning tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#prevMonth{
    margin-right: 4%;
}
#nextMonth{
    margin-left: 4%;
}
.head{
    text-align:center;
    padding-left:20px;
    margin-top: 20px;
}
.monthDay  {
    width:50px;
    text-align: center;
    font-weight: normal;
}
.MonthYearSelect{
    position: relative;
   
}
.rowDaySelected{
  background-color: #ECF0C5;

}
  .colDaySelected{
    background-color: #86ED80
}
.myRow{
    background-color: rgba(123, 200, 224, 0.2) ;  
}
.coursierDay:hover{
    background-color: rgba(123, 100, 224, 0.2) ; 
}
.coursierDay{
    font-size: 0.8em;
}
.absent{
    background-color: #FF7575;
    opacity: 0.8;
}
.noInfo{
    background-color: #FFD58C;
}
.absent:hover{
    cursor: not-allowed;
}
.present{
    background-color: #6ED7FF;
    color: white;
      cursor: pointer;
}
.shiftParJour{
    display: block;
    font-size: 0.9em;

}
.column[data-dayNameCol='di'], .column[data-dayNameCol='sa']{
    background-color: #fcf8e3;
}

.today{
    background-color: rgba(60, 255, 0, 0.2) ; 
}


.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popover{
    color: black;
}