
#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;

    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
    margin-bottom: 10px;
}
.manquesCell{
  height: 40px;
 // overflow-y: scroll;
}
.cityManquesHeader th{
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
}

///////=======================DISPOS=========================
.dispoLevelCityLow{
 background-color: #FFBC82 ;
}
.dispoLevelCityMedium{
background-color: #85FFF7 ;
}
.dispoLevelCityHigh{
background-color: #00FF4C ;
}
.busy{
 color: black;
 background-color: #E6E6E6;

}
.lowDispo{

 background-color: #FFBC82;


}
.highDispo{
  background-color: #00FF4C;

}
.mediumDispo{
// border-style:solid; 
  background-color: #85FFF7;
}
.absent{
    background-color: #FF8C8C;
    opacity: 0.9;
}
.noInfo{
    background-color: #FFD58C;

}
.noInfo, .noInfoOff{
  cursor: help;
}
.absent:hover{
    cursor: not-allowed;
}
.present{
    background-color: #6ED7FF;
    color: white;
    cursor: pointer;
}

////---------------==============================
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
#togglePlanning{
    padding: 6px;
    position: absolute;
    left: 84%;
    margin-top: 1%;
}

//======================CALENDAR TABLE======================
#calendar{
  margin-top: 4%;
}
#planning {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
  width: 100%;

}
td,th {
    text-align: center;
}
.coursierTD {
  text-align: left;
}
#planning thead, tbody{
//  display: block;
}
.coursierDay{
  width: auto;
}
.shiftHidden{
 // display: none;
}
#shiftsTable{

  height: 300px;
  overflow-y: auto;    
   overflow-x: hidden;
}
#planning tr th,
#planning tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

#planning tr th:first-child,
#planning tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  background: #eee;
  border-top: 1px solid #bbb;
  text-align: left;
  
}

/* top-left border-radius */
#planning tr:first-child th:first-child {
  border-top-left-radius: 10px;
  border-left: 10px;
}


/* top-right border-radius */
#planning tr:first-child th:last-child {
  border-top-right-radius: 10px;
  border-right: 2px;

}
/* bottom-left border-radius */
#planning tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
#planning tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

//======================================
#prevMonth{
    margin-right: 4%;
}
#nextMonth{
    margin-left: 4%;
}
#monthYearSelect{
  margin-top: 2%;
}
#headButtons{
  display: flex;
  margin-top: 2%;
}
.monthDay  {
    width:50px;
    text-align: center;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 110%;
}

.rowDaySelected{
  background-color: #ECF0C5 !important;

}
.colDaySelected{
    background-color: #86ED80 !important;
}
.myRow{
    background-color: rgba(123, 200, 224, 0.2) ;  
}
.coursierDay:hover{
    background-color: rgba(123, 100, 224, 0.2) ; 
}
.shiftManqueDaySelected{
   border: solid;
  border-width: 2px;
  border-color: blue;
}
.noBg{
  background-color: "";
}
.coursierDay{
    font-size: 0.8em;
}
.wantedShifts li{
  text-align: center;
}
.shiftsByCity{
  cursor: pointer;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 0.8em;
    line-height: 110%;
     

}
.shiftsByCity:hover{
      border: solid;
      border-width: 1px;
      border-color: black;
     }

.shiftsDoubles{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 0.8em;
    display: block;
}
.column[data-dayNameCol='di'], .column[data-dayNameCol='sa']{
    background-color: #fcf8e3;
}
.attributedShift{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  cursor: help;
  font-weight: bold;

}
.attributedShift[city="Lausanne"]{
  color:blue;
}
.attributedShift[city="Yverdon"]{
  color:green;
}
.attributedShift[city="Neuchâtel"]{
  color: gold ;
}

.today{
    background-color: rgba(60, 255, 0, 0.2) !important; 
    z-index: 20;
}

.dropdown{
  margin-right: 2%;
  padding-left: 3%;
}

.dispoInfo{
      height: 13px;
      width: 20px;
      margin-bottom: -20%;
    right: 0;
    top: 0;
}
#fullCalSwitch{
  position: relative;
  top:-620px;
  left: 1%;
}
.theContainer{
  width: 70%;
  margin-left: 15%;
  margin-top:  -3%;
}
#fullCal{
  width: 75%;
  margin-left: 12.5%;
  margin-top: 6%;
}

.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.popover{
    color: black;
      width: 15%;
}
.popover-inner{
 
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}

