


 <div class="text-center" ng-show="loading"> <img src="assets/images/loading.gif">
  </div>

  
    <div class="theContainer" ng-show="!loading">
        <!-- show first monthly calendar to non admin -->
      <div ng-show="!isAdmin()" id="fullCal"></div>    

    <!-- show all coursiers calendar to admin -->
      <div id="calendar" ng-show="isAdmin()">

        <div class="col-md-4" id="monthYearSelect">
          <!-- select the month we are in -->
            <label>Mois</label>
            <select ng-model="month" 
            ng-change="renderCalendar(month)">
              <option 
              ng-repeat="months in calendar.monthNames" 
              value="{{$index}}"  
              ng-selected="calendar.monthNames[monthNum] == calendar.monthNames[$index]">{{calendar.monthNames[$index]}}</option>
            </select >

            <!-- select the year we are in -->
            <label>Année</label>
            <select ng-model="year" 
            ng-change="renderCalendar(monthNum,year)">
              <option>2014</option>
              <option ng-selected="year == calendar.year">
              2015</option>
              <option>2016</option>
              <option>2017</option>
            </select>

              
        </div>
     
        <div class="text-centered">
         <!--  previous and next buttons (month) -->
          <h3 class="col-md-4 text-center"> 
             <button id="prevMonth"  class="btn btn-success btn-sm" ng-click="renderCalendar(monthNum-1)" ><</button>
             {{calendar.month}} {{calendar.year}}
             <button id="nextMonth"  class="btn btn-success btn-sm" ng-click="renderCalendar(monthNum+1)">></button>
          </h3>       
        </div>



 <div class="col-md-4" id="headButtons">
  <div class="dropdown">
    <button class="btn btn-success  dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dispos
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li class="bg-info"><a ng-click="toggleIsPresent()">Dispos</a></li>
      <li class="bg-warning"><a ng-click="toggleNoInfo()">No info</a></li>
      <li><a ng-click="todaysCoursiers()">Qui roule AJD </a></li>
      <li><a> Qui roule le: <select ng-model="workingDay" ng-change="whoWorksOn(workingDay, monthNum, year, $event)"> <option ng-repeat="key in calendar.monthDays track by $index"> {{$index+1}}</option></select> </a> </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-info dropdown-toggle " type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Shifts souhaités
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu text-centered wantedShifts" aria-labelledby="dropdownMenu1">
      <li ><a ng-click="toggleBusy()">Assez ou trop</a></li>
      <li class="bg-danger"><a ng-click="toggleLowDispo()">Peu dispo (<3) </a> 
          <select ng-model="citySelected" ng-change="toggleDispoLevelCity(citySelected, 'lowDispo')" ><option ng-repeat="city in cities">{{city}} </option></select>  
      </li>
      <li class="bg-info"><a ng-click="toggleMediumDispo()">Moyen dispo (>4)</a> 
            <select ng-model="citySelected2" ng-change="toggleDispoLevelCity(citySelected2, 'mediumDispo')" ><option ng-repeat="city in cities">{{city}} </option></select>  
      </li>
      <li class="bg-success"><a ng-click="toggleHighDispo()">Très dispo (>8)</a> 
           <select ng-model="citySelected3" ng-change="toggleDispoLevelCity(citySelected3, 'highDispo')" ><option ng-repeat="city in cities">{{city}} </option></select>   
      </li>
    </ul>
  </div>
  <div class="dropdown">  
    <button class="btn btn-warning" ng-click="offClasses()">OFF</button>
</div>
  </div>

        <div >
          <table id="planning" cellspacing="0" >
         <!-- colonnes pour la css et les weekends,+1 car une colonne pour users -->
         <col></col>
         <col class="column" ng-repeat="numDay in calendar.monthDays track by $index" ng-class="isToday($index+1, monthNum, year)" data-dayNameCol="{{calendar.daysNames[$index]}}" date="{{$index+1}}-{{monthNum}}-{{year}}"/>
         <thead>
         <!-- les jours du mois-->
            <tr class="mainHeader bg-active"> 
              <th><div>Jour|Coursier</div></th>
               <th class="monthDay" ng-repeat="numDay in calendar.monthDays track by $index" > {{$index+1}}</br> {{calendar.daysNames[$index] | uppercase}}
               </th>
            </tr>
         </thead>

          <tbody id="shiftsTable">
          <!-- rangs avec nom du coursier et les jours. On ajoute la class myRow à l'endroit de notre login id-->
          <tr ng-repeat="user in coursiers track by user._id"  class=" {{currentUser._id == user._id ? 'myRow coursierName' : ''}} ">
              <td  class="coursierTD"
                  popover="Email: {{user.email}} portable: {{user.telPortable}}"
                   popover-placement="top"
                   popover-trigger="click" 
                   popover-append-to-body="true">
                    <a href="#"> {{::user.name}} {{::user.prenom}}</a>     
              </td>
<!-- ng-class="checkDispo($index, monthNum, year, user._id).type == 'Dispo' ? checkDispo($index, monthNum, year, user._id).villes : ( checkDispo($index, monthNum, year, user._id).type == 'Absent' ? 'absent' : 'noInfoOff' ) "  -->

              <td coursier-day
                ng-click="setShift($index+1, monthNum, year, user)"  
                attributions="returnAttributions(monthYear)"
                ng-repeat="numDay in calendar.monthDays track by $index" 
                day ="$index+1" 
                month-num="monthNum" 
                year="year"
                check-dispo="checkDispo" 
                user="{_id: user._id, dispos: user.dispos, name: user.name}"
                month-year = "monthYear"

                date="{{$index+1}}-{{monthNum+1}}-{{year}}"
                 > 
              </td> 
           </tr>
          <!--  MANQUES PAR VILLE -->
          <tbody id="manquesTable" ng-repeat="city in cities">

            <tr class="cityManquesHeader" ng-click="slideManques($event)"l><th colspan="{{calendar.monthDays.length+1}}" >  {{city}}</th> </tr>
            <tr>
              <td ng-click="toggleCityDispos(city)" >Manques
              </td>
              <td 
                  manques-city
                  ng-repeat="day in calendar.monthDays track by $index"
                   day="$index"
                   month-Num="monthNum"
                   year="year"
                   attributions="returnAttributions(monthYear)"
                   city="city"
                   month-year="monthYear"       
                   daily-shifts="dailyShifts"
                  show-potential-coursiers="showPotentialCoursiers" >

              </td>
             </tr>
          
            </tbody><!-- manques -->
          <tr>
            <tr class="cityManquesHeader" ng-click="slideManques($event)"><th colspan="{{calendar.monthDays.length+1}}" >Doublons</th> </tr>
            <tr>
                <td>Doublons</td>
                  <td doublons
                   ng-repeat="day in calendar.monthDays track by $index"
                   day="$index"

                   month-Num="monthNum"
                   year="year"
                   attributions="returnAttributions(monthYear)"
                   city="city"
                   month-year="monthYear"       
                   daily-shifts="dailyShifts"></td>
              </tr>
          </tbody>
         </table>
        </div>  <!-- table div --> 

      </div> <!-- calendar -->
     
  <button class="btn btn-primary  btn-sm"  ng-click="togglePlanning(isAdmin())">{{isAdmin() == true ? "Mon planning" :"Tous les coursiers"}}</button>


</div>
