
        <div class="modal-body ">
            <p>À: <b> &nbsp;{{coursier.prenom}} {{coursier.name}} </b></p>
            <p>Pour le <b>{{date | amDateFormat: "dddd D MMMM YYYY"}}</b></p>
            <p>Dispo de: <b>{{dispoStart | amDateFormat: "H:mm"}}</b> à <b>{{dispoEnd | amDateFormat: "H:mm"}}</b></p>
            <b ng-show="wait">attendez...</b>
            <p ng-show="!wait" ng-class="attributed == shiftsWeekly || attributed > shiftsWeekly ? 'bg-danger' : '' ">Nombre de shifts souhaités :   <b>{{attributed}}/{{shiftsWeekly}}</b></p>
                <p ng-show="shifts.length == 1">Pas de shift adéquat trouvé</p>
               <p ng-show="noDispo"> <b>Pas de dispo trouvée!</b></p>
            <p>Selectionnez un shift &nbsp;
                <select size="9" multiple class="form-control"  ng-options="shift as shift.nom group by shift.ville for shift in shifts" ng-model="selectedShift">
                </select>
            </p>  
             <button ng-show="selectedShift.length > 0" class="btn btn-success " ng-click="attribuer(selectedShift, coursier, date, null)" aria-label="Remove">Attribuer</button>

            <p>Tous les shifts
            <select class="form-control" ng-options="shift as shift.nom group by shift.ville  for shift in allShifts track by shift._id" ng-model="otherShift"></select> </p>
             <button ng-show="otherShift" class="btn btn-success " ng-click="attribuer(null, coursier, date, otherShift)" aria-label="Remove">Attribuer</button>

            <div ng-show="attributedShifts.length > 0" class="text-centered">  
            <p>Enlever un shift
            <select class="form-control" ng-options="shift as shift.nom group by shift.ville for shift in attributedShifts track by shift._id" ng-model="attributedShift"></select></p>
            <button ng-show="attributedShift" class="btn btn-danger btn-sm" ng-click="deleteShift(coursier, date, attributedShift)">Enlever</button>
             </div> 
        </div>

        <div class="text-center">
           
            <button style="margin-bottom:10px;"class="btn btn-info" ng-click="close()">Annuler</button>
        </div>
