
<div class="container">
	<form class="form-horizontal col-md-6" >



  <div class="form-group">
    <label  class="col-sm-3 control-label">Prénom</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.prenom" class="form-control"  >
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">Nom</label>
    <div class="col-sm-9"> 
      <input type="text" ng-model="user.name" class="form-control" >
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-3 control-label">Date de naissance </label>
    <div class="col-sm-9">
    <datepicker ng-model="user.naissance" show-weeks="true" ></datepicker>

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">E-mail </label>
    <div class="col-sm-9">
      <input type="email" ng-model="user.email" class="form-control" >
    </div>
  </div>

<!--   <h3>Adresse</h3>
   <div class="form-group">
    <label class="col-sm-3 control-label">Rue et no</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.adresse.rue" class="form-control" >
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-3 control-label">Ville</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.adresse.ville" class="form-control" >
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-3 control-label">NPA</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.adresse.npa" class="form-control" >
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-3 control-label">Tél. fixe</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.telFixe" class="form-control" >
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-3 control-label">Tél. portable</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.telPortable" class="form-control" >
    </div>
  </div>

   <div class="form-group">
    <label class="col-sm-3 control-label">No compte</label>
    <div class="col-sm-9">
      <input type="text" ng-model="user.compteBanc" class="form-control" >
    </div>
  </div>

 -->
     <div class="form-group">
        <label class="col-sm-3 control-label">Mot de passe</label>
        <div class="col-sm-9">
          <input type="text" ng-model="user.password" class="form-control" >
        </div>
      </div>

</form>

<div class="form-horizontal col-md-6" >
 <h4> Numéro coursier: # <b> 
         <input type="number" validate-no 
              ng-model="user.numeroCoursier"
              coursiers="users" 
              numero="user.numeroCoursier" 
              invalid-no = "validNo"
              value="{{user.numeroCoursier}}"
              min="0">
             </b> 
  </h4>
 <h4 ng-show="invalidNo" class="bg-danger">Ce numéro existe déjà! </h4>
  <h4>Compétences</h4>
    <ul class="coursierOthersCheckbox">
        <li ng-repeat="competence in competences">
          <label class="checkboxText" > <input type="checkbox" checklist-value="competence" checklist-model="user.competences">{{competence}}</label>
        </li> 
    </ul>
    <h4>Rôle</h4>
    <ul class="coursierOthersCheckbox">
        <li>
          <label class="checkboxText" > <input type="radio" value="admin" name="role" ng-model="user.role">Admin</label>
        </li> 
         <li>
          <label class="checkboxText" > <input type="radio" value="user"  name="role" ng-model="user.role">Coursier</label>
        </li> 
    </ul>
      <h4>Autres</h4>
          <ul class="coursierOthersCheckbox">
            <li> <label class="checkboxText"><input type="checkbox" ng-model="user.mobility"> Mobility</label></li>
            <li> <label class="checkboxText"><input type="checkbox" ng-model="user.ag"> Abonnement Général</label>  </li>
            <li> <label class="checkboxText"><input type="checkbox"  ng-model="user.permis"> Permis de conduire</label></li>
          </ul>

</div>
  <div class="text-center">
      <button class="btn btn-success btn-lg" ng-click="createCoursier(user)">Créer coursier</button>
  </div>
</div> <!-- container -->

  
