<div class="bg-primary text-center title">
  <h3>Créer un shift</h3>
</div>
<div class="container">

<form class="form-horizontal col-md-12" >
	<div class="col-md-6">	
	  <div class="form-group">
	    <label class="col-sm-2">Nom</label>
	    <div class="col-sm-8">
	      <input type="text" ng-model= "shift.nom" required class="form-control" onblur="checkValidity(this)
	     ;">
	    </div>
	  </div>
		
    <p class="help-block" ng-show="form.name.$error.required && submitted">Un nom est requis</p>

	 <!-- heures du shift -->
	   <div class="form-group col-xs-6 col-sm-4 col-md-5">
	    <label>Début </label>
	 
	    <timepicker arrowkeys="true" show-meridian="false" ng-model="shift.debut" ng-change="checkHour(shift.debut, shift.fin)" hour-step="1" minute-step="10" ></timepicker>
	  
	  </div>

	  <div class="form-group col-xs-7
	   col-sm-9 col-md-8">
	    <label>Fin</label>

	    <timepicker  arrowkeys="true" show-meridian="false" ng-model= "shift.fin"ng-change="checkHour(shift.debut, shift.fin)" hour-step="1" minute-step="10" ></timepicker>

	
	  </div><br>

	  <h3 class="text-danger text-center" ng-show="isFalseHour">Le début et fin se chévauchent</h3>
	

	   <div class="form-group col-xs-6">
	    <label class=" col-sm-4 control-label">Période de vailidité</label>
	    <div class="col-sm-6">De
	      <select ng-model="shift.periodeIn"><option ng-repeat="month in months" value="{{$index}}">{{month}}</option></select>
	      à <select ng-model="shift.periodeOut" ><option ng-repeat="month in months"  value="{{$index}}">{{month}}</option></select>
	    </div>
	  </div>

	  <div id="villesJoursShift">
	  	 <!-- villes -->
       	<h3>Villes</h3>
       	<ul class="villesCheckbox">
        	<li ng-repeat="city in cities"> 
        		<label class="checkboxText"><input name="villes" type="radio" value="{{city}}" ng-model="shift.ville"> {{city}}
        		</label>
        	</li>
     	</ul>
	  </div>
	   <h3 class="col-md-12 col-sm-12 col-xs-12"
	   		 popover="Par défaut 1 par jour selectionné"
             popover-placement="rigth"
             popover-trigger="mouseenter" popover-append-to-body="true">Jours de la semaine</h3>
       <table class="table table-striped">
       		<tr>
       		<td >Jours</td>
       			<td  ng-repeat="day in days" >  <label class="checkboxText"> <input type="checkbox" checklist-value="day" checklist-model="shift.jours" ng-change="enableTimes()">{{day.nom}}</label></td>
       		</tr>
       		<tr>
       			<td>Fois</td>
       			<td ng-repeat="day in days">
   				 <select  class="timesSelect" ng-change="insertTimesPerDay(day.nom, times)" ng-model="times"> 
		        	<option selected="selected">1</option>
	       		 	<option>2</option>
		       		<option>3</option>
		    	</select>
       			</td>
       		</tr>
       </table>

     
	</div> <!-- first column -->
	
    <div class="col-md-6" >	
    	   <h4>Remarques</h4>
        <textarea ng-model="shift.remarques" rows="4" cols="60"></textarea>
       	<h3>Compétences nécessaires</h3>
       	<ul class="villesCheckbox">
        	<li ng-repeat="competence in competences"> 
        		<label class="checkboxText"><input  type="checkbox" 
        		checklist-value="competence" 
        		checklist-model="shift.competences" 
        		ng-click="sortByCompetences(shift.competences)"> {{competence}}
        		</label>
        	</li>
     	</ul>


     	<h3>Liste des coursiers</h3>
	    <ul id="listeCoursiers">
			<li ng-repeat="user in competentUsers"> 
				<p><b># {{user.numeroCoursier}} </b>{{user.name}} {{user.prenom}}</p>
			</li>
		</ul>

    </div>
  
  </form>

<div class="text-center">
 	<button class="btn btn-primary btn-lg text-center"  ng-click="createShift(shift)">Créer le shift</button>
</div>
    

</div><!-- container -->
