<div ui-view="">
	<div class="container" ng-keypress="checkCity($event)">
		<div class="col-lg-3 col-md-3 row">
		<button ng-click="toggleDispoType('absent')" type="button" class="btn  btn-lg " ng-class="{'btn-danger selected': !dispoType}">Absence</button>
		<button ng-click="toggleDispoType('present')" type="button" class="btn  btn-lg" ng-class="{'btn-info selected': dispoType}">Présence</button>


			<label>Nombre souhaité de shifts</label>

	          <input ng-focus="true" type="number" name="shiftsWeek" class="form-control" ng-model="shiftsWeek" min="1" max="11" required ng-change="inputShiftsWeek(shiftsWeek)">
	          <h4 ng-show="forgotShiftsWeek" class="bg-warning">Oublié de tes shifts par semaine!</h4>
	 			<br>
	          <label>Remarques</label>
	          <!-- assign availabilities for the selected month -->
	          <textarea  name='remarques' class="form-control" ng-model="remarques" ng-change="inputRemarques(remarques)" placeholder="pas de remarques"></textarea>


	          <!-- dispo cities -->
	          <h3>Villes</h3>
	          <div class="checkbox" >
				  <label>
				    <input type="checkbox"  checklist-value="'Lausanne'" checklist-model="villes" ng-checked="laus_check">
				    Lausanne
				  </label>
					
				</div>
				<div class="checkbox">   <label>
				    <input type="checkbox"  checklist-value="'Yverdon'" checklist-model="villes" ng-checked="yv_check">
				    Yverdon
				  </label>
				</div>
				<div class="checkbox">
				  <label>
				    <input type="checkbox"  checklist-value="'Neuchâtel'" checklist-model="villes" ng-checked="neuch_check">
				    Neuchâtel
				  </label>
				</div>
				<h4 ng-show="forgotCity" class="bg-warning">Oublié de selectionner une ville!</h4>
				<button  type="button" class="btn btn-primary" ui-sref="sendDispos.verify({dispos : dispos})">
		            Confirmation</button>
		    </div> 
		<div ui-calendar="calendarConfig.calendarDispos" ng-model="eventSources" class="col-lg-8" ></div>
	</div>
</div>
