	<div ui-view="">
		<div class="container" ng-keypress="checkCity($event)">
			<div class="col-lg-3 col-md-3 row">
			<button ng-click="toggleDispoType('absent')" type="button" class="btn  btn-lg " ng-class="{'btn-danger selected': !dispoType}">Absence</button>
			<button ng-click="toggleDispoType('present')" type="button" class="btn  btn-lg" ng-class="{'btn-info selected': dispoType}">Présence</button>
		   <h4 class="bg-danger" ng-show="monthClosedInfo.show">Le mois de {{monthClosedInfo.name}} est fermé</h4>
				<label>Nombre souhaité de shifts</label>

		    <input id="shiftsWeek" ng-show="!dispos[monthYear][week].shiftsWeek"  ng-focus="true" type="number" name="shiftsWeek" class="form-control" ng-model="dispos[monthYear][week].shiftsWeek" min="2" max="11" required ng-change="inputShiftsWeek(dispos[monthYear][week])">


		    <h4 ng-show="dispos[monthYear][week].shiftsWeek" 
		    class="bg-warning">Shifts pour cette semaine:
		        <span editable-number="dispos[monthYear][week].shiftsWeek">{{dispos[monthYear][week].shiftsWeek }}</span>
		    </h4>



		          <h4 ng-show="forgotShiftsWeek" class="bg-warning">Oublié de tes shifts par semaine!</h4>
		 			<br>
		 			  <h4 ng-show="isBefore" class="bg-danger">Tu peux pas sélectionner une data antérieure à aujourd'hui</h4>
		 			  <h4 ng-show="drag" class="bg-danger">Sorry, pas de sélection sur plusieurs jours</h4>
		 			<br>
		          <label>Remarques</label>
		          <textarea ng-show="!dispos[monthYear][week].remarques"  name='remarques' class="form-control" ng-model="remarques"  placeholder="pas de remarques"></textarea>
		          <button ng-show="!dispos[monthYear][week].remarques" class="btn btn-sm" ng-click="dispos[monthYear][week].remarques = remarques">Ok</button>

		          <h5 ng-show="dispos[monthYear][week].remarques" 
		          		class="bg-warning"
		          		>
		          		 <span editable-text="dispos[monthYear][week].remarques"
		          		 >{{dispos[monthYear][week].remarques}}</span></h5>


		          <!-- dispo cities -->
		          <h3>Villes</h3>
		          <div class="checkbox" >
					  <label>
					    <input type="checkbox"  checklist-value="'Lausanne'" checklist-model="villes" ng-checked="laus_check">
					    Lausanne
					  </label>
						
					</div>
					<div class="checkbox">   <label>
					    <input type="checkbox"  checklist-value="'Yverdon'" checklist-model="villes" ng-checked="yv_check">
					    Yverdon
					  </label>
					</div>
					<div class="checkbox">
					  <label>
					    <input type="checkbox"  checklist-value="'Neuchâtel'" checklist-model="villes" ng-checked="neuch_check">
					    Neuchâtel
					  </label>
					</div>
					<h4 ng-show="forgotCity" class="bg-warning">Sélectionne une ville!</h4>

			
					<button  type="button" class="btn btn-primary" ui-sref="sendDispos.verify({dispos : dispos})">

			            Confirmation</button>
			    </div> 
			<div id="calendar" ui-calendar="calendarConfig.calendarDispos" ng-model="eventSources" calendar='myCalendar' class="col-lg-8" ></div>
		</div>
	</div>
