<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	
	<div ui-calendar="calendarConfig.calendarDispos" ng-model="eventSources" class="col-lg-8"></div>
	<div class="col-lg-3 col-md-3 row">
	<button ng-click="toggleDispoType()" type="button" class="btn btn-danger btn-lg active">Absence</button>
	<button ng-click="toggleDispoType()" type="button" class="btn btn-primary btn-lg active">Préférence</button>
		<label>Nombre souhaite de shifts</label>

          <input type="number" name="shiftsWeekly" class="form-control" ng-model="user.shiftsWeekly" min="1" max="11" required >
 			<br>
          <label>Remarques</label>
          <textarea  class="form-control" ></textarea>
          <div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			    L
			  </label>
			
		</div>
		<div class="checkbox">   <label>
			    <input type="checkbox" value="">
			    Y
			  </label>
		</div>
		<div class="checkbox">
			  <label>
			    <input type="checkbox" value="">
			    N
			  </label>
		</div>
		<button  type="button" class="btn btn-primary">
            Envoyer
    </div> 
    <button ng-click="deleteEvent()">dek</button>



</div>
<div ng-include="'components/footer/footer.html'"></div>
